/* Slideshow.css */

/* Reset básico para margen/padding */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.slideshow-container {
    position: relative;
    top: 0.5vh;
    height: 99vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper {
    position: relative;
    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-image {
    height: 99vh;
    max-width: 100%;
    object-fit: contain;
    border: 1px solid #333;
}

/* Controles superpuestos arriba a la derecha */
.controls-overlay {
    width: 2vw;
    position: absolute;
    bottom: 2vh;
    right: 2vw;
    display: flex;
    gap: 10px;
    z-index: 10;
}

.icon-button {
    background-color: white;
    color: blue;
    border: none;
    padding: 10px 12px;
    border-radius: 6px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

    .icon-button:hover {
        transform: scale(1.3);
    }


/* 🎯 Indicador de progreso (posición controlada por React vía style) */
.progress-indicator {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 10px;
    z-index: 10;
}

/* Fondo del indicador */
.progress-bar-bg {
    position: relative;
    background-color: #0a64ad;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
}

/* Barra de progreso actual o esperada (color definido desde React por props) */
.progress-bar-actual {
    position: absolute;
    height: 100%;
    width: 0.4%; /* Siempre ocupa 1% del ancho pero avanza con `left` */
}




.animation-buttons-vertical {
    position: absolute;   
    top: 52%;
    left: 70%;
    transform: translateY(-52%);
    display: flex;
    flex-direction: column;
    gap: 7vh;
    z-index: 15;
}

.animation-icon-button {
    height: 4vh;
    transform: scale(0.8);
    background: none;
    border: none;
    cursor: pointer;
    color: #1e40af;
    transition: transform 0.2s, color 0.3s;
}

    .animation-icon-button:hover {
        transform: scale(0.9);
        color: #2563eb;
    }

